.navigation-instructions {
  margin: 0 auto;
  color: $instruction-font-color;
  display: inline-block;
  font-size: small;
  text-align: left;

  .instructions-title {
    font-weight: bold;
    font-size: 1.3em;
    color: $slide-font-color display: block;
    margin: 2vh auto;
    text-align: center;
    border-bottom: 1px solid $border-color
  }

  @media print {
     display: none;
  }
}
